<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
</head>
<body>
    <h1>Add Member</h1>
    <form action="/add_member" method="post">
        <div>
            <label for="id">User ID:</label>
            <input type="number" name="id" required><br>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" required><br>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br>
        </div>
        <button type="submit">Add</button>
    </form>
    
</body>
</html>
